<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용내역 저장 완료</title>
</head>
<body>
    <p>사용내역이 정상적으로 저장되었습니다.</p>

</body>
</html>